 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:#5562ed;"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h3 style="color: white;">Welcome {{user}}</h3>
  <a routerLink="/transaction">Transaction History</a>
  <button class="btn btn-warning" (click)="logOut()" style="float: right; margin-right: 20px;">Log out</button>
  <button class="btn btn-danger" (click)="deleteAccount()" style="float: right; margin-right: 20px;">Delete</button>

  <h5 style="color: white;">{{lDate|date:'short'}}</h5>
  <hr>
  <app-delete-confirm (onCancel)="cancel()" [item]="accno"></app-delete-confirm>
  
  <div [ngClass]="accno?'c1':'' " class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 appHighlight class="text-center">Deposit Form</h3>
                  
              </div>
              <div class="card-body">
                  <form [formGroup]="depositForm">
                
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="accno" id="login_accno" required>
                          
                      </div>

                      <div *ngIf="this.depositForm.get('acno')?.touched && this.depositForm.get('acno')?.errors" style="color: red;">Invalid account number</div>


                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="psw" formControlName="psw" placeholder="password" id="login_password" required>
                      </div>

                      <div *ngIf="this.depositForm.get('psw')?.touched && this.depositForm.get('psw')?.errors" style="color: red;">Invalid password</div>


                      <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="amount" formControlName="amount" placeholder="amount" id="login_user" required>
                        
                    </div>

                    <div *ngIf="this.depositForm.get('amount')?.touched && this.depositForm.get('amount')?.errors" style="color: red;">Invalid amount</div>

                      
                      <div class="form-group">
                          <input type="submit" value="Deposit" (click)="deposit()" class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
  
  <div [ngClass]="accno?'c1':'' " class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 appHighlight class="text-center">Withdrawl Form</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm">
              
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno1" formControlName="acno1" placeholder="accno" id="login_accno1" required>
                        
                    </div>
                    <div *ngIf="this.withdrawForm.get('acno1')?.touched && this.withdrawForm.get('acno1')?.errors" style="color: red;">Invalid account number</div>


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="psw1" formControlName="psw1" placeholder="password" id="login_password1" required>
                    </div>

                    <div *ngIf="this.withdrawForm.get('psw1')?.touched && this.withdrawForm.get('psw1')?.errors" style="color: red;">Invalid password</div>


                    <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" name="amount1" formControlName="amount1" placeholder="amount" id="login_user1" required>
                      
                  </div>

                  <div *ngIf="this.withdrawForm.get('amount1')?.touched && this.withdrawForm.get('amount1')?.errors" style="color: red;">Invalid amount</div>

                    
                    <div class="form-group">
                        <input type="submit" value="Withdraw" (click)="withdraw()" class="btn float-right login_btn " style="width:50%" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


